# Python environments & caches
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# FAISS and local indexes
backend/app/rag/faiss_index/
backend/temp_prs/

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
frontend/src/assets/

# IDE / Project settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
